html {
  scroll-behavior: smooth;
}

* {
  /* border: 1px solid red; */
  margin: 0;
}

body {
  background-image: url(siteBackground.jpg);
  background-size: auto;
  display: grid;
  grid-template-areas:
    "header"
    "home"
    "about"
    "projects"
    "footer";
  /* grid-template-rows: 0fr 0.5fr 0fr 0fr 0fr; */
}

header {
  grid-area: header;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: black;
  padding: 0 0 0 10px;
}

header * {
  color: white;
}

.navContainer {
  display: flex;
  padding-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navText {
  color: white;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.navText:hover {
  color: lightskyblue;
}

#home {
  grid-area: home;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  border-radius: 100%;
  border: 5px lightskyblue solid;
  height: 3rem;
  width: 3rem;
  image-rendering: optimizeQuality;
}

#sitelogo {
  height: 200px;
  width: auto;
  animation: corner 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#about {
  grid-area: about;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
}

#about * {
  color: black;
}

#about a {
  color: white;
  text-decoration: underline;
}

#projects {
  grid-area: projects;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  padding-top: 3rem;
}

.projectInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projectScreenshot {
  justify-content: center;
  display: flex;
  background-color: black;
}

.projectScreenshot img {
  max-width: 100%;
  height: auto;
}

.projectNotes {
  justify-content: center;
  text-align: left;
}
.projectNotes h2 {
  text-align: center;
}
footer {
  grid-area: footer;
  margin: 0;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

footer p {
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
